<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a crop</h1>
<div class="col-4">
    <div class="container">
        <form class="form-signin" th:action="@{/crop/saveCrop}" method="post" th:object="${crop}">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td><input id="name" type="text" class="form-control" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td>Init</td>
                    <td><input id="init" type="text" class="form-control" th:field="*{init}"/></td>
                </tr>
                <tr>
                    <td>Dev</td>
                    <td><input id="dev" type="text" class="form-control" th:field="*{dev}"/></td>
                </tr>
                <tr>
                    <td>Mid</td>
                    <td><input id="mid" type="text" class="form-control" th:field="*{mid}"/></td>
                </tr>
                <tr>
                    <td>Late</td>
                    <td><input id="late" type="text" class="form-control" th:field="*{late}"/></td>
                </tr>
                <tr>
                    <td>Kcinit</td>
                    <td><input id="kcinit" type="text" class="form-control" th:field="*{kcinit}"/></td>
                </tr>
                <tr>
                    <td>Kcmid</td>
                    <td><input id="kcmid" type="text" class="form-control" th:field="*{kcmid}"/></td>
                </tr>
                <tr>
                    <td>Kcend</td>
                    <td><input id="kcend" type="text" class="form-control" th:field="*{kcend}"/></td>
                </tr>
                </tbody>
            </table>
            <input id="save" type="Submit" class="btn" value="Add crop"/>
        </form>
    </div>
</div>

</body>
</html>