<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a crop</h1>
<form th:action="@{/crop/saveCrop}" method="POST" th:object="${crop}">
    <div>
        Name: <input type="text" th:field="*{name}"/>
    </div>
    <div>
        Init: <input type="text" th:field="*{init}" />
    </div>
    <div>
        Dev: <input type="text" th:field="*{dev}" />
    </div>
    <div>
        Mid: <input type="text" th:field="*{mid}" />
    </div>
    <div>
        Late: <input type="text" th:field="*{late}" />
    </div>
    <div>
        Kcinit: <input type="text" th:field="*{kcinit}" />
    </div>
    <div>
        Kcmid: <input type="text" th:field="*{kcmid}" />
    </div>
    <div>
        Kcend: <input type="text" th:field="*{kcend}" />
    </div>

    <input type="Submit" value="Submit"/>
</form>

</body>
</html>