<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/custom.css" />
    <script src="../js/crop.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="commons/header :: header">...</div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="box">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Init</th>
                        <th scope="col">Dev</th>
                        <th scope="col">Mid</th>
                        <th scope="col">Late</th>
                        <th scope="col">Total</th>
                        <th scope="col">Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${crops}">
                        <td th:text="${c.getName()}"></td>
                        <td th:text="${c.getInit()}"></td>
                        <td th:text="${c.getDev()}"></td>
                        <td th:text="${c.getMid()}"></td>
                        <td th:text="${c.getLate()}"></td>
                        <td th:text="${c.getTotal()}"></td>
                        <td>
                            <button id="edit" class="btn btn-outline-info">Edit</button>
                            <button id="delete" class="btn btn-outline-danger">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="container">
                <form class="form-signin">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td><input id="name" type="text" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Init</td>
                            <td><input id="init" type="text" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Dev</td>
                            <td><input id="dev" type="text" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Mid</td>
                            <td><input id="mid" type="text" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Late</td>
                            <td><input id="late" type="text" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Kcinit</td>
                            <td><input id="kcinit" type="text" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Kcmid</td>
                            <td><input id="kcmid" type="text" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Kcend</td>
                            <td><input id="kcend" type="text" class="form-control"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <button id="save" type="button" class="btn">Save</button>
                </form>
            </div>
        </div>

    </div>

</div>
</body>
</html>