<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: head">
</head>
<body>
<div class="container">
    <div th:replace="commons/header :: header">...</div>
</div>
<div class="container">
    <div class="row">
        <div class="box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Init</th>
                    <th scope="col">Dev</th>
                    <th scope="col">Mid</th>
                    <th scope="col">Late</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${crops}">
                    <td th:text="${c.getName()}"></td>
                    <td th:text="${c.getInit()}"></td>
                    <td th:text="${c.getDev()}"></td>
                    <td th:text="${c.getMid()}"></td>
                    <td th:text="${c.getLate()}"></td>
                    <td th:text="${c.getTotal()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p>Add a crop <a href="/crop/add-crop">here</a></p>

</div>
</body>
</html>