<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

    <meta charset="UTF-8">
    <title>Chart</title>
</head>
<body>
<div class="container">
    <div th:replace="commons/header :: header">...</div>
</div>

<!--<div id="lineChart">-->
<!--</div>-->

<!--<script th:inline="javascript">-->
    <!--var chart;-->

    <!--function requestData() {-->
        <!--$.ajax({-->
            <!--type: "GET",-->
            <!--contentType: "application/json",-->
            <!--url: "/charts",-->
            <!--success: function (point) {-->
                <!--let series = chart.series[0],-->
                    <!--shift = series.data.length > 20;-->

                <!--chart.series[0].addPoint(point, true, shift);-->

                <!--setTimeout(requestData, 2000);-->
            <!--},-->
            <!--cache: false-->
        <!--})-->
    <!--}-->

    <!--document.addEventListener('DOMContentLoaded', function () {-->
        <!--chart = Highcharts.chart({-->
            <!--chart: {-->
                <!--renderTo: 'lineChart',-->
                <!--type: 'spline',-->
                <!--animation: Highcharts.svg,-->
                <!--events: {-->
                    <!--load: requestData-->
                <!--}-->
            <!--},-->
            <!--title: {-->
                <!--text: 'Demo Line Chart'-->
            <!--},-->
            <!--xAxis: {-->
                <!--title: {-->
                    <!--text: 'Time'-->
                <!--},-->
                <!--type: 'datetime',-->
                <!--tickPixelInterval: 150-->
            <!--},-->
            <!--yAxis: {-->
                <!--title: {-->
                    <!--text: 'Soil Moisture'-->
                <!--},-->
                <!--labels: {-->
                    <!--formatter: function() {-->
                        <!--return this.value + ' %';-->
                    <!--}-->
                <!--}-->
            <!--},-->
            <!--legend: {-->
                <!--enabled: false-->
            <!--},-->
            <!--exporting: {-->
                <!--enabled: false-->
            <!--},-->
            <!--series: [{-->
                <!--name: 'humid',-->
                <!--data: []-->
            <!--}]-->
        <!--});-->
    <!--});-->
<!--</script>-->
<div class="container">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<div class="container">
    <div id="humid" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<div class="container">
    <div id="moisture" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<script src="../js/custom.js"></script>
<script src="../js/humid.js"></script>
<script src="../js/moisture.js"></script>
<!--<script>-->
    <!--$(function () {-->
        <!--$(document).ready(function () {-->
            <!--Highcharts.setOptions({-->
                <!--global: {-->
                    <!--useUTC: false-->
                <!--}-->
            <!--});-->

            <!--let socket = new SockJS('/stomp');-->
            <!--let newValue;-->
            <!--let stompClient = Stomp.over(socket);-->
            <!--let message;-->

            <!--stompClient.connect({}, function (frame) {-->
                <!--stompClient.subscribe("topic/temp", function (data) {-->
                    <!--message = data.body;-->
                    <!--newValue = JSON.stringify(data.body);-->
                    <!--console.log("data = " + message);-->
                    <!--newValue = parseInt(message);-->
                    <!--console.log("newValue = " + newValue);-->
                <!--})-->
            <!--});-->

            <!--Highcharts.chart('container', {-->
                <!--chart: {-->
                    <!--type: 'spline',-->
                    <!--animation: Highcharts.svg,-->
                    <!--events: {-->
                        <!--load: function () {-->
                            <!--let series = this.series[0];-->
                            <!--setInterval(function () {-->
                                <!--let x = (new Date()).getTime();-->
                                <!--let y = newValue;-->
                            <!--}, 2000);-->
                        <!--}-->
                    <!--}-->
                <!--},-->
                <!--title: {-->
                    <!--text: "Temp"-->
                <!--},-->
                <!--xAxis: {-->
                    <!--type: 'datetime',-->
                    <!--tickPixelInterval: 150-->
                <!--},-->
                <!--yAxis: {-->
                    <!--title: {-->
                        <!--text: 'Value'-->
                    <!--},-->
                    <!--plotLines: [{-->
                        <!--value: 0,-->
                        <!--width: 1,-->
                        <!--color: '#191970'-->
                    <!--}]-->
                <!--},-->
                <!--tooltip: {-->
                    <!--formatter: function () {-->
                        <!--return '<b>' + this.series.name + '</b><br/>' +-->
                            <!--Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +-->
                            <!--Highcharts.numberFormat(this.y, 2);-->
                    <!--}-->
                <!--},-->
                <!--legend: {-->
                    <!--enabled: false-->
                <!--},-->
                <!--exporting: {-->
                    <!--enabled: false-->
                <!--},-->
                <!--series: [{-->
                    <!--name: 'Temp data',-->
                    <!--data: (function () {-->
                        <!--let data = [];-->
                        <!--let time  = (new Date()).getTime();-->
                        <!--let i;-->

                        <!--for (i = -19; i <= 0; i += 1) {-->
                            <!--data.push({-->
                                <!--x: time + i * 2000,-->
                                <!--y: newValue-->
                            <!--});-->
                        <!--}-->

                        <!--return data;-->
                    <!--})-->
                <!--}]-->
            <!--});-->
        <!--});-->
    <!--})-->
<!--</script>-->
</body>
</html>