<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: head">
</head>
<body>
<div class="container">
    <div th:replace="commons/header :: header">...</div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <b><span id="date_time"></span></b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="info">
                    <div>
                        <h4>Field Info</h4>
                    </div>
                    <div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><b>Crop</b></td>
                                <td><span th:text="${harvest.getCrop()}" ></span></td>
                            </tr>
                            <tr>
                                <td><b>Day Start</b></td>
                                <td><span th:text="${harvest.getTimeToStart()}" ></span></td>
                            </tr>
                            <tr>
                                <td><b>Day Finish</b></td>
                                <td><span th:text="${harvest.getTimeToEnd()}" ></span></td>
                            </tr>
                            <tr>
                                <td><b>Area</b></td>
                                <td><span th:text="${harvest.getFieldArea() / 10000} + ' ' + ha"></span></td>
                            </tr>
                            <tr>
                                <td><b>Pump Capacity</b></td>
                                <td><span th:text="${harvest.getPumpCapacity()}" >
                                    <script>document.write("m"+"3".sup()+"s"+"-1".sup())</script>
                                </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box">
                <div class="info">
                    <div>
                        <h4>Temperature</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <script type="text/javascript">
        window.onload = date_time('date_time');
        function date_time(id) {
            date = new Date;
            year = date.getFullYear();
            month = date.getMonth();
            months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'Jully', 'August', 'September', 'October', 'November', 'December');
            d = date.getDate();
            day = date.getDay();
            days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
            h = date.getHours();
            if(h<10)
            {
                h = "0"+h;
            }
            m = date.getMinutes();
            if(m<10)
            {
                m = "0"+m;
            }
            s = date.getSeconds();
            if(s<10)
            {
                s = "0"+s;
            }
            result = ''+days[day]+' '+months[month]+' '+d+' '+year+' '+h+':'+m+':'+s;
            document.getElementById(id).innerHTML = result;
            setTimeout('date_time("'+id+'");','1000');
            return true;
        }
    </script>
</div>
</body>
</html>