<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: head">

</head>
<body>
<div class="container">
    <div th:replace="commons/header :: header">...</div>
</div>
<h1>Harvest</h1>
<div>
    <form th:action="@{/saveHarvest}" method="POST" th:object="${harvest}">
        <div>
            Crop:
            <select th:field="*{crop}" >
                <option th:each="c : ${cropModels}" th:value="${c.name}" th:text ="${c.name}" />
            </select>
        </div>
        <div>
            Time: <input type="date" th:field="*{timeToStart}" />
        </div>
        <div>
            Pump Capacity: <input type="number" th:field="*{pumpCapacity}" />
        </div>
        <div>
            Field Area: <input type="text" th:field="*{fieldArea}" />
        </div>
        <div>
            Method: <input type="text" th:field="*{method}" />
        </div>

        <input type="Submit" value="Submit"/>
    </form>

</div>
</body>
</html>