<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a harvest</h1>
<form th:action="@{/saveHarvest}" method="POST" th:object="${harvest}">
    Crop: <select th:field="*{crop}" >
            <option th:each="c : ${cropModels}" th:value="${c.name}" th:text ="${c.name}" />
            </select>
    Time: <input type="date" th:field="*{timeToStart}" />

    <input type="Submit" value="Submit"/>
</form>
</body>
</html>