<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
</head>
<body>
<div class="container">
    <div th:replace="commons/header :: header">...</div>
</div>
<div class="container text-center" th:if="${currentUser == null}">

    <h2 class="form-signin-heading">Please login</h2>
    <form class="form-signin" th:action="@{/login}" method="post">
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="username" required="/" />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-outline-success">Login</button>
    </form>
    <a href="/signup" >Signup here</a>
</div>
<div class="container text-center" style="margin-top: 30px" th:if="${currentUser}">
    Already login!
</div>

</body>
</html>